encryption = "age"

[git]
    autoCommit = true
    autoPush = false

    commitMessageTemplateFile = ".chezmoitemplates/commit.tmpl"

[edit]
    command = "vim"

[age]
    identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
    recipient = "age1hlw723dkdwqrkq8qw23mamrljt5jnzjtz6y66y7rpd975l4r2dlqva39g3"
