{{- with .chezmoi.status }}

{{with (print . ) }}{{ end }}

{{- range .Ordinary -}}
{{ if and (eq .X 'A') (eq .Y '.') -}}:sparkles: Add {{ .Path }}
{{ else if and (eq .X 'D') (eq .Y '.') -}}:fire: Remove {{ .Path }}
{{ else if and (eq .X 'M') (eq .Y '.') -}}:sparkles: Update {{ .Path }}
{{ else }}:grey_question: {{ .X }} {{ .Y }} Unknown Edits {{ .Path }}
{{ end }}
{{- end -}}

{{- range .RenamedOrCopied -}}
{{ if and (eq .X 'R') (eq .Y '.') }}:wrench: Change attributes of {{ .Path }}
{{ else if and (eq .X 'C') (eq .Y '.') -}}:truck: Copy {{ .OrigPath }} to {{ .Path }}
{{ else }}:grey_question: {{ .X }} {{ .Y }} Unknown Edits {{ .Path }}
{{ end }}
{{- end -}}

{{- range .Unmerged -}}
{{ fail (print ":cross_mark: unmerged files") }}
{{- end -}}

{{- range .Untracked -}}
{{ fail (print ":cross_mark: untracked files") }}
{{- end -}}

{{- end -}}
