#!/bin/sh

echo "🛠️ Running $(basename "$0") "
echo "🔒 Checking for private key..."
if [ ! -f "$HOME/.config/chezmoi/key.txt" ]; then
    echo "🔓 Decrypting private key..."
    mkdir -p "$HOME/.config/chezmoi"
    chezmoi age decrypt --output "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
fi
echo "✅ Done"
